einops
librosa==0.10.2.post1
matplotlib
numpy==1.26.4
openpyxl
onnxruntime-gpu==1.19.2
pandas
pesq 
pysepm 
pystoi
scipy==1.10.0
soundfile
torch==2.1.0
torchaudio==2.1.0
torchmetrics==1.6.1
torchsummary==1.5.1
torchvision==0.16.0
tqdm
wandb
